h1{
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}

.forcastsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.forcastIconContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: left;
    width: 100px;
}

/* .forcastInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: left;
    width: 200px;
} */

/* .forcastTempContainer{
    display: flex;
    flex-direction: row;
} */

.forcastItem{
    width: 300px;
    height: 150px;
}

h2{
    background-color: #4d90fa; 
    color: #ffff;
    height: 30px;
    text-align: left;
    font-size: 20pt;
}

p{
    font-size: 15pt;
}

img{
    padding-top: 20px;
}